/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Nunito-SemiBoldItalic";
  src: url("./fonts/Nunito-SemiBoldItalic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Nunito-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Nunito-SemiBoldItalic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Nunito-SemiBoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}